@media print {
  .no-print { display: none !important; }
  
  body { 
    background-color: white !important; 
    color: black !important; 
    font-size: 11pt;
  }

  main { padding: 0; max-width: 100%; }
  
  .job-card, .project-card {
    background: none !important;
    border: none !important;
    padding: 0;
    margin-bottom: 2rem;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  /* Reveal Links */
  a[href^="http"]::after { content: " (" attr(href) ")"; font-size: 0.8em; }
}
